<div class="contenedor">

  <div class="contenedor-header">
    <h1>Catálogo de Productos</h1>

    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Buscar por nombre">
      </div>
      <div class="form-group col-md-2">
        <input type="number" class="form-control" placeholder="Precio">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" placeholder="Proveedor">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" placeholder="Marca">
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>

  <!-- Tabla de productos -->

  <section class="contenedor-productos">

    <section class="contenedor-productos-perros ">

    </section>

    <section class="contenedor-productos-gatos">

    </section>
  </section>


</div>
