body {
  box-sizing: content-box;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "buscadores" "productos";

  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 10px;
  margin-top: 10px;
  margin: 1px 0px 0 7%;
  padding-right: 10px;

  transition: 1s;
  transform-origin: left center;
}

.contenedor-header {
  grid-area: buscadores;
  display: grid;
}

.contenedor-productos {
  grid-area: productos;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "producto-perro"
    "producto-gato";
  gap: 40px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contenedor-productos-perros{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 0;

  height: fit-content;
  min-height: 150px;
  max-height: 100%;
}

.contenedor-productos-gatos{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 0;

  height: fit-content;
  min-height: 150px;
  max-height: 100%;
}

.contenedor-perros{
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.contenedor-gatos{
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.contenedor-perros::-webkit-scrollbar,
.contenedor-gatos::-webkit-scrollbar {
  width: 1px;
  height: 13px;
}

.contenedor-perros::-webkit-scrollbar-track,
.contenedor-gatos::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.contenedor-perros::-webkit-scrollbar-thumb,
.contenedor-gatos::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 1px;
}

.contenedor-perros::-webkit-scrollbar-thumb:hover,
.contenedor-gatos::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

.nft{
  user-select:none;
  max-width: 300px;
  margin: 1rem auto;
  border: 1px solid #0b05b022;
  background-color: #7e92c3;
  background: linear-gradient(0deg, rgb(155, 165, 193) 0%, rgba(183, 181, 181, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #cdd3d788;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins{
    text-decoration: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    .tokenImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .description{
      margin: .5rem 0;
      color: #1c1a1a;
      font-weight: 700;
      font-size: 100%;
    }
    .tokenInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        display: flex;
        align-items: center;
        color: #ffffff;
        font-weight: 700;
        ins{
          margin-left: -.3rem;
          margin-right: .5rem;
        }
      }
      .duration{
        display: flex;
        align-items: center;
        color: #ffffff;
        margin-right: .2rem;
        ins{
          margin: .5rem;
          margin-bottom: .4rem;
        }
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      ins{
        color: hsl(0, 0%, 100%);
        font-size: 100%;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img{
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }
}

.bg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 20rem;
    filter: opacity(0.5);
  }
}


.menu {
  position: fixed;
  height: 62%;
  background: #0b132b;
  width: 6%;
  box-shadow: 1px 0 2px rgba(184, 1, 1, 0.2);
  transition: 1s;
  margin-top: 3%;
  padding-left: 0;
  border-top-right-radius: 10px;
  grid-column: 1/1;
}

.menu:hover {
  width: 15%;
}

.menu:hover ~ .contenedor {
  transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
}

.menu:hover nav {
  left: 2%;
}


nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  left: -900px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  align-items: start;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 200%;
  letter-spacing: 1%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 20px 0;
  padding: 0;
}

nav ul li a:hover {
  color: #eee;
}

p {
  line-height: 130%;
}

h1 {
  color: #000000;
}







@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    height: 50%;
    max-height: 45%;

    position: fixed;
    background: #0b132b;
  }

  .contenedor::-webkit-scrollbar,
  .interfaz::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  .contenedor::-webkit-scrollbar-thumb,
  .interfaz::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 4px;
  }

  .contenedor::-webkit-scrollbar-track,
  .interfaz::-webkit-scrollbar-track {
    background-color: #0b132b;
  }
}



@media only screen and (min-width: 801px) and (max-width: 1190px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu:hover {
    width: 14rem;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }


.menu nav ul li {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 500px 0;
  padding: 0;
}

}


.inputs {
  height: 100%;
  width: 100%;
  border: 1px solid #0b132b;
  border-radius: 10px;
  background: #dfe2ea;
}

.botones {
  height: 60%;
  width: 100%;
  border: 1px solid #0b132b;
  border-radius: 10px;
  margin-top: 4px;
  background: #3c66da;
}


@media only screen and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }

  .menu:hover {
    width: 11rem;
  }

  .menu:hover ~ .contenedor {
    transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
  }

  .contenedor {
    width: 110vw;
    overflow-x: auto;
    overflow-y: auto;
  }


  .contenedor {
    flex-grow: 1;
    margin-left: 15%;
    width: 84vw;
    min-width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .nav {
    margin-top: 2%;
  }

  nav ul li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

}
