<div class="interfaz">

  <div class="menu">
    <nav>
      Veterna
      <ul>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Registro Venta</a></li>
        <li><a href="#">Estadisticas</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <div class="buscador">

      <p class="buscador-titulo"> Registro Ventas </p>

      <div class="buscador_buscar-input">

        <div class="input-container">
          <input type="text" (keydown.enter)="search()" [(ngModel)]="searchTerm" placeholder="Escribe tu búsqueda..." />
          <i class="fa fa-times clear-icon" (click)="clearSearch()"></i>
        </div>

        <button class="buscador_buscar-limpiar" (click)="clearSearch()">Borrar</button>
        <button class="buscador_buscar-agregar" (click)="agregar()" >Agregar</button>

      </div>

    </div>

    <div class="producto">
      <h1>Like</h1>
      <p *ngIf="Mostrar_Producto">
        {{producto_encontrado[0].nombre}}
      </p>
    </div>

    <div class="tabla">

      <table style="width: 100%;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Quitar </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productosVenta; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td><input class="input_productos" type="number" [(ngModel)]="producto.cantidad" min="1"></td>
            <td></td>
            <td><button (click)="eliminarProducto(producto)"><i class="fa fa-times"></i></button></td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>

</div>

<div *ngIf="Mostrar_Mensaje_Escaneo" class="scan-success-message">
  {{message}}
</div>
