@import '~font-awesome/css/font-awesome.css';

body {
  box-sizing: content-box;
}

.interfaz {
  min-width: 100%;
  height: 77.8vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu {
  position: fixed;
  height: 62%;
  background: #0b132b;
  width: 6%;
  box-shadow: 1px 0 2px rgba(184, 1, 1, 0.2);
  transition: 1s;
  margin-top: 4%;
  padding-left: 0;
  border-top-right-radius: 10px;
  grid-column: 1/1;
}

.menu:hover {
  width: 15%;
}

.menu:hover~.container {
  transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
}

.menu:hover nav {
  left: 2%;
}

nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  left: -900px;
  transition: .5s;

  display: flex;
  flex-direction: column;
  align-items: start;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 200%;
  letter-spacing: 1%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 0;
  padding: 0;
}

nav ul li a:hover {
  color: #eee;
}

p {
  line-height: 130%;
}

h1 {
  color: #bbb;
}

.container {
  display: grid;

  grid-template-rows: 1.5fr 3fr 3fr;
  grid-template-columns: 1fr 5fr 3fr;
  grid-template-areas:
    "buscador buscador producto"
    "tabla tabla producto"
    "tabla tabla producto";
  width: fit-content;
  min-width: 90vw;
  height: 73vh;
  margin: 9px 0 0 7%;

  transition: 1s;
  transform-origin: left center;

  overflow-x: auto;
  overflow-y: auto;
}

.buscador {
  grid-area: buscador;
  margin-bottom: 1%;
}

.producto {
  grid-area: producto;
  border: 2px;
  border-color: #0b132b;
  border-style: groove;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #0b132b;
}

.tabla {
  grid-area: tabla;
  padding-top: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #0b132b;
}

.producto::-webkit-scrollbar,
.tabla::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.producto::-webkit-scrollbar-thumb,
.tabla::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 4px;
}

.producto::-webkit-scrollbar-track,
.tabla::-webkit-scrollbar-track {
  background-color: #0b132b;
}

.buscador p {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0b132b;
  font-weight: 900;
  padding: 0;
  margin: 2px 4px 7px 20px;
}

.input-container {
  position: relative;
  width: 45%;
  height: 5vh;
  margin-left: 3%;

  border: 1px;
  border-color: #D2D2D0;
  border-style: groove;
  border-radius: 10px;

  background-color: #e5dddde2;
}


.input-container input {
  width: 90%;
  height: 4vh;
  background-color: transparent;
  border: none;
  margin-right: 0;

  font-size: 130%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

.input-container input:focus {
  outline: none;
}

.clear-icon {
  top: 50%;
  transform: translateY(3%);
  cursor: pointer;
  color: rgb(6, 6, 6);
  font-size: 150%;
}

.clear-icon:hover {
  color: #f00;
}

.buscador-titulo {
  margin-top: 0;
  padding-top: 0;
}

.buscador_buscar-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.buscador_buscar-input button {
  margin: 0 20px;
  border-radius: 10px;
  width: 20%;
}

.buscador_buscar-limpiar {
  background-color: #bbb;
  color: black;
  font-weight: 700;
  font-size: 115%;
}

.buscador_buscar-agregar {
  background-color: palevioletred;
  color: white;
  font-weight: 700;
  font-size: 115%;
}

.input_productos {
  border: 0;
  width: 100px;
  border: #0b132b;
}

.scan-success-message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ff00;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 4s ease-in-out forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


@media only screen and (max-width: 800px) {

  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }

  .menu:hover {
    width: 11rem;
  }

  .menu:hover~.container {
    transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
  }

  .container {
    width: 110vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .ventana {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    overflow-x: auto;
  }

  .container {
    flex-grow: 1;
    margin-left: 15%;
    width: 84vw;
    min-width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .nav {
    margin-top: 2%;
  }

  nav ul li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .buscador {
    width: 76vw;
    margin-bottom: 1%;
  }

  .input-container input {
    font-size: 17px;
  }

  .buscador p {
    font-size: 25px;
  }

  .producto {
    width: 40vw;
  }

  .tabla {
    width: 76vw;
  }

  .buscador_buscar-limpiar {
    font-size: 100%;
  }

  .buscador_buscar-agregar {
    font-size: 100%;
  }

}
