<div class="interfaz">

  <div class="menu">
    <nav>
      Veterna
      <ul>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Registro Venta</a></li>
        <li><a href="#">Estadisticas</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <div class="buscador">

      <p class="buscador-titulo"> Registro Ventas </p>

      <div class="buscador_buscar-input">

        <div class="input-container">
          <input type="text" (keydown.enter)="search()" [(ngModel)]="searchTerm" placeholder="Escribe tu búsqueda..." />
          <i class="fa fa-times clear-icon" (click)="clearSearch()"></i>
        </div>

        <button class="buscador_buscar-limpiar" (click)="clearSearch()">Borrar</button>
        <button class="buscador_buscar-agregar" (click)="agregar()" >Agregar</button>

      </div>

    </div>

    <div class="producto">
      <h1>Like</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde neque commodi, repudiandae non consectetur, atque
        quos quas eos iure laborum hic consequatur modi odio iusto obcaecati. Quam error aspernatur unde.
      </p>
    </div>

    <div class="tabla">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> {{productos_venta[0]}} </td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
