@import "~font-awesome/css/font-awesome.css";

body {
  box-sizing: content-box;
}

.interfaz {
  min-width: 100%;
  height: 79.8vh;
  max-height: 74.5vh;
  overflow-x: auto;
  overflow-y: auto;
}

.menu {
  position: fixed;
  height: 62%;
  background: #0b132b;
  width: 6%;
  box-shadow: 1px 0 2px rgba(184, 1, 1, 0.2);
  transition: 1s;
  margin-top: 3%;
  padding-left: 0;
  border-top-right-radius: 10px;
  grid-column: 1/1;
}

.menu:hover {
  width: 15%;
}

.menu:hover ~ .container {
  transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
}

.menu:hover nav {
  left: 2%;
}

nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  left: -900px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  align-items: start;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 200%;
  letter-spacing: 1%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 0;
  padding: 0;
}

nav ul li a:hover {
  color: #eee;
}

p {
  line-height: 130%;
}

h1 {
  color: #bbb;
}

.container {
  display: grid;

  grid-template-rows: 1.5fr 4fr 4fr 0.5fr;
  grid-template-columns: 1fr 5fr 3fr;
  grid-template-areas:
    "buscador buscador producto"
    "tabla tabla producto"
    "tabla tabla producto"
    "ticket ticket producto";
  width: fit-content;
  min-width: 90vw;
  max-height: 74vh;
  margin: 1px 0px 0 7%;
  padding-right: 10px;

  transition: 1s;
  transform-origin: left center;

  overflow-x: auto;
  overflow-y: auto;
}

.buscador {
  grid-area: buscador;
  margin-bottom: 1%;
}

.producto {
  grid-area: producto;
  border: 2px;
  border-color: #0b132b;
  border-style: groove;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #0b132b;
  height: 90%;
}

.tabla {
  grid-area: tabla;
  padding-top: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #0b132b;
}

.table td {
  padding: 8px;
  text-align: center; /* Alineación horizontal al centro */
  vertical-align: middle; /* Alineación vertical al centro */
}

.ticket {
  grid-area: ticket;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 10px;
}

.total_venta p,
.cambio_venta p,
.cambio_venta label {
  font-weight: 600;
  font-size: 120%;

  margin: 0;
  padding: 0;
}

.cambio_venta input {
  border: 1px;
  border-radius: 5px;
  border-style: groove;
  border-color: #0b132b;

  width: 70%;
}

.generar_ticket {
  margin-top: 2px;
  padding: 0 21px;
  height: 60%;

  font-size: 100%;
  color: white;
  font-weight: 500;
  background-color: rgb(22, 194, 65);
  border-radius: 7px;
  border-color: rgb(22, 194, 65);

  cursor: pointer;
}

.producto::-webkit-scrollbar,
.tabla::-webkit-scrollbar,
.container::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.producto::-webkit-scrollbar-thumb,
.tabla::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 4px;
}

.producto::-webkit-scrollbar-track,
.tabla::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background-color: #0b132b;
}

.buscador p {
  font-size: 130%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0b132b;
  font-weight: 700;
  padding: 0;
  margin: 0px 4px 7px 20px;
}

.input-container {
  position: relative;
  width: 45%;
  height: 4vh;
  margin-left: 3%;
  margin-top: 3px;
  border: 1px;
  border-color: #e5dddde2;
  border-style: groove;
  border-radius: 10px;

  background-color: #e5dddde2;
}

.input-container input {
  width: 90%;
  height: 2vh;
  background-color: transparent;
  border: none;
  margin-right: 0;

  font-size: 110%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

.input-container input:focus {
  outline: none;
}

.clear-icon {
  top: 8%;
  transform: translateY(2%);
  cursor: pointer;
  color: rgb(6, 6, 6);
  font-size: 150%;
}

.clear-icon:hover {
  color: #f00;
}

.buscador-titulo {
  margin-top: 0;
  padding-top: 0;
}

.buscador_buscar-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.buscador_buscar-input button {
  margin: 3px 20px;
  padding: 3px 0px;
  border-radius: 10px;
  width: 20%;
  height: 100%;

  border-color: transparent;
  cursor: pointer;
}

.buscador_buscar-limpiar {
  background-color: #999595;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 100%;
}

.buscador_buscar-agregar {
  background-color: palevioletred;
  color: white;
  font-weight: 700;
  font-size: 100%;
}

.input_productos {
  border: 0;
  width: 100px;
  border: #0b132b;
}

.scan-success-message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #de0f0f;
  color: #fff;
  font-size: 100%;
  font-weight: 700;

  padding: 10px;
  border-radius: 5px;
  animation: fadeInOut 3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    height: 50%;
    max-height: 45%;

    position: fixed;
    background: #0b132b;
  }

  .container::-webkit-scrollbar,
  .interfaz::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  .container::-webkit-scrollbar-thumb,
  .interfaz::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 4px;
  }

  .container::-webkit-scrollbar-track,
  .interfaz::-webkit-scrollbar-track {
    background-color: #0b132b;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1190px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu:hover {
    width: 14rem;
  }

}

@media only screen and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }

  .menu:hover {
    width: 11rem;
  }

  .menu:hover ~ .container {
    transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
  }

  .container {
    width: 110vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .ventana {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    overflow-x: auto;
  }

  .container {
    flex-grow: 1;
    margin-left: 15%;
    width: 84vw;
    min-width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .nav {
    margin-top: 2%;
  }

  nav ul li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .buscador {
    width: 76vw;
    margin-bottom: 1%;
  }

  .input-container input {
    font-size: 17px;
  }

  .buscador p {
    font-size: 25px;
  }

  .producto {
    width: 40vw;
  }

  .tabla {
    width: 76vw;
  }

  .buscador_buscar-limpiar {
    font-size: 100%;
  }

  .buscador_buscar-agregar {
    font-size: 100%;
  }
}
