<app-alert
  *ngIf="MostrarAlertaPantalla"
  [messageToShow]="TipoAlertaPantalla"
  [messageText]="MensajeAlertaPantalla"
></app-alert>

<div class="interfaz" [ngClass]="{ blurred: OcultarPantalla }">
  <div class="menu">
    <nav>
      Veterinaria
      <ul>
        <li><a routerLink="/historial_venta" routerLinkActive="active">Historial</a></li>
        <li><a routerLink="/ventas" routerLinkActive="active">Venta</a></li>
        <li><a routerLink="/#">Estadisticas</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="buscador">
      <p class="buscador-titulo">Registro Ventas</p>

      <div class="buscador_buscar-input">
        <div class="input-container">
          <input
            #BuscarProducto
            id="input_buscar-Producto"
            type="text"
            (keydown.enter)="buscar_Producto()"
            [(ngModel)]="id_Producto_Input"
            placeholder="Escribe tu búsqueda..."
          />

          <i class="fa fa-times clear-icon" (click)="limpiar_Input()"></i>
        </div>

        <button
          id="boton_limpiar_busqueda"
          class="buscador_buscar-limpiar"
          (click)="limpiar_Input()"
        >
          Limpiar Busqueda
        </button>

        <button
          id="boton_borrar_producto"
          class="buscador_buscar-limpiar"
          (click)="eliminar_UltimoProducto()"
        >
          Borrar Producto
        </button>
      </div>
    </div>

    <div class="producto">
      <div *ngIf="Mostrar_Producto">
        <img [src]="producto_Encontrado.imagen" alt="" />
        <div>
          <p>
            Marca:
            <span
              style="color: rgb(18, 20, 137); font-weight: 600; font-size: 120%"
            >
              {{ producto_Encontrado.marca.nombre }}
            </span>
          </p>

          <p>
            Existencias:
            <span
              style="color: rgb(18, 20, 137); font-weight: 600; font-size: 120%"
            >
              {{ producto_Encontrado.inventario[0].existencias }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="tabla">
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prod</th>
            <th scope="col">Costo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Granel</th>
            <th scope="col">$ Granel</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Quitar</th>
          </tr>
        </thead>
        <tbody>
          <tr async *ngFor="let producto of productosVenta; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ producto.Nombre }}</td>
            <td>${{ producto.Precio }}</td>
            <td>
              <input
                style="font-size: 95%; font-weight: 600"
                class="input_productos"
                id="input_cantidad-producto"
                #inputDinamicoCantidad
                type="number"
                [(ngModel)]="producto.Cantidad"
                (change)="actualizarSubtotal(producto)"
                (change)="actualizarIva(producto)"
                min="1"
              />
            </td>
            <td>
              <input
                *ngIf="producto.VentaGranel"
                (change)="actualizarVentaGranel($event)"
                type="checkbox"
                name="No"
                #inputDinamicoGranel
                id="input_granel-producto"
              />

              <div *ngIf="!producto.VentaGranel">No Disponible</div>
            </td>

            <td>
              <div *ngIf="producto.VentaGranel">
                {{ producto.Precio_granel | currency }}
              </div>

              <div *ngIf="!producto.VentaGranel">No Disponible</div>
            </td>

            <td>
              <div *ngIf="!producto.VentaGranel">
                {{ producto.Precio * producto.Cantidad | currency }}
              </div>

              <div *ngIf="producto.VentaGranel && venta_granel_boleean">
                {{ producto.Precio_granel * producto.Cantidad | currency }}
              </div>

              <div *ngIf="producto.VentaGranel && !venta_granel_boleean">
                {{ producto.Precio * producto.Cantidad | currency }}
              </div>
            </td>

            <td>
              <button
                #botonEliminarProducto
                style="cursor: pointer"
                (click)="eliminar_VentaProducto(producto)"
              >
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <section class="ticket">
      <div class="total_venta">
        <p>
          Total:
          <span
            style="color: rgb(18, 20, 137); font-weight: 600; font-size: 120%"
          >
            $ {{ calcularTotalVenta() }}
          </span>
        </p>

        <p>
          IVA:
          <span
            style="color: rgb(18, 20, 137); font-weight: 600; font-size: 120%"
          >
            $ {{ calcularIvaVenta() }}
          </span>
        </p>
      </div>

      <div class="cambio_venta">
        <label for="Total"> Paga con: $</label>

        <input
          type="number"
          id = "inputPago"
          [(ngModel)]="montoAPagar"

          (change)="calcularCambio()"
        />

        <p style="padding-top: 2px">Cambio: ${{ cambio }}</p>
      </div>

      <button id="botonGenerarTicket" class="generar_ticket" (click)="generar_Ticket()">
        Generar Ticket
      </button>

      <button id="botonRealizarVenta" class="generar_ticket" (click)="guardarVenta()">
        Realizar Venta
      </button>
    </section>
  </div>
</div>
