@import "~font-awesome/css/font-awesome.css";

body {
  box-sizing: content-box;
}

.interfaz {
  min-width: 100%;
  height: 79.8vh;
  max-height: 74.5vh;
  overflow-x: auto;
  overflow-y: auto;
}


.menu {
  position: fixed;
  height: 62%;
  background: #0b132b;
  width: 2%;
  box-shadow: 1px 0 2px rgba(184, 1, 1, 0.2);
  transition: 1s;
  margin-top: 3%;
  padding-left: 0;
  border-top-right-radius: 10px;
  grid-column: 1/1;
}

.menu:hover {
  width: 15%;
}

.menu:hover ~ .container {
  transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
}

.menu:hover nav {
  left: 2%;
}


nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  left: -900px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  align-items: start;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 200%;
  letter-spacing: 1%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 0;
  padding: 0;
}

nav ul li a:hover {
  color: aqua;
}

p {
  line-height: 130%;
}

h1 {
  color: #bbb;
}

.container {
  display: grid;

  grid-template-rows: 0.4fr 3fr;
  grid-template-columns: 5fr;
  grid-template-areas:
    "buscador buscador"
    "tabla tabla"
    "tabla tabla";
  width: fit-content;
  min-width: 96vw;
  max-height: 74vh;
  margin: 1px 0px 0 3%;

  transition: 1s;
  transform-origin: left center;

  overflow-x: auto;
  overflow-y: auto;
}

.Buscador {
  grid-area: buscador;
  margin-top: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  grid-area: tabla;
}

.Titulos {
  font-size: 120%;
  color: #0b132b;
  font-weight: 700;
}

.tabla {
  background: rgba(8, 29, 91, 0.882);
  border-radius: 10px;
  height: 13%;
  padding: 0;
}

.tabla tr th {
  color: #eee;
  font-size: 110%;
  margin: 0;
  padding: 0;
}

table tbody tr td {
  color: #0b132b;
  font-size: 110%;
  font-weight: 500;
}

.tablafooter {
  background: rgba(8, 29, 91, 0.882);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius: 10px;
  padding: 0 1%;
}

.tablafooter p, .tablafooter p strong {
  color: #eee;
  font-size: 110%;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* Estilo predeterminado del select */
select {
  color: #0b132b;
  font-size: 110%;
  font-weight: 700;
  border: 1px groove #0b132b;
  border-radius: 10px;
  width: fit-content + 10px;
}

select.selected {
  border: none;
}



@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    height: 50%;
    max-height: 45%;

    position: fixed;
    background: #0b132b;
  }

  .container::-webkit-scrollbar,
  .interfaz::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  .container::-webkit-scrollbar-thumb,
  .interfaz::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 4px;
  }

  .container::-webkit-scrollbar-track,
  .interfaz::-webkit-scrollbar-track {
    background-color: #0b132b;
  }
}



@media only screen and (min-width: 801px) and (max-width: 1190px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu:hover {
    width: 14rem;
  }

}




@media only screen and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }

  .menu:hover {
    width: 11rem;
  }

  .menu:hover ~ .container {
    transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
  }

  .container {
    width: 110vw;
    overflow-x: auto;
    overflow-y: auto;
  }


  .container {
    flex-grow: 1;
    margin-left: 15%;
    width: 84vw;
    min-width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .nav {
    margin-top: 2%;
  }

  nav ul li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

}


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 0px solid #00000049;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 100%;
  font-weight: 400;
  height: 5%;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0.2%;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.3% 0;
  background-color: #ffffff;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.Mostrar_Tabla {
  margin-top: 2%;
  border: 1px solid #0b132b;
  border-radius: 10px;
  padding: 0.2%;
}

.Letra_Botones {
  cursor: pointer;
  margin: 0 1%;
  font-size: 120%;
  font-weight: 500;
  color: #0b132b;

}
