.Menu_Navegacion {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  background: rgba(8, 29, 91, 0.882);
  color: white;
  padding: 5px;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.Rutas_Navegacion {
  display: flex;
  justify-content: center;
}

.Rutas_Navegacion a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  margin-right: 50px;
  font-weight: bold;
  font-size: 130%;
}

.Rutas_Navegacion a:hover {
  color: aqua;
  text-decoration: none;
}

.Informacion_Tienda {
  font-size: 130%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.Informacion_Tienda img {
  max-width: 40.3%;
  max-height: 40%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Informacion_Tienda p {
  margin: 10px 20px;
}

.Usuario {
  display: flex;
  justify-content: center;
  padding-left: 60%;
}

.botón_menu {
  font-size: 120%;
  padding: 7px 15px;
  color: white;
  font-weight: 500;
  background-color: rgb(22, 194, 65);
  border-radius: 7px;
  border-color: rgb(22, 194, 65);
}

.botón_menu:hover {
  cursor: pointer;
}

@media only screen and (min-width: 801px) and (max-width: 1190px) {
  .Rutas_Navegacion a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-weight: bold;
    font-size: 110%;
  }
}

@media only screen and (max-width: 800px) {
  .Rutas_Navegacion a {
    margin-right: 20px;
    font-size: 110%;
  }

  .Informacion_Tienda {
    font-size: 110%;
  }

  .Informacion_Tienda img {
    max-width: 38.3%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .Informacion_Tienda p {
    margin: 7px 12px;
  }

  .Usuario {
    padding-left: 30%;
  }

  .botón_menu {
    font-size: 100%;
    padding: 7px 15px;
  }
}
