<section class="Menu_Navegacion">
  <div class="Rutas_Navegacion">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/tienda" routerLinkActive="active">Tienda</a>
    <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
  </div>

  <div class="Informacion_Tienda">
    <img src="../../../assets//Imagenes/logo.png"
         alt="">
    <p>Como perros y gatos</p>
  </div>

  <div class="Usuario">
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</section>
