<section class="Menu_Navegacion">

  <div class="Rutas_Navegacion">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/inventario" routerLinkActive="active">Inventario</a>
    <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
  </div>

  <div class="Informacion_Tienda">
    <img src="../../../assets//Imagenes/logo.png" alt="">
    <p>Como perros y gatos</p>
  </div>

  <div class="Usuario">
    <button class="botón_menu" (click)="CerrarSesion()">
      Cerrar Sesión
    </button>
  </div>

</section>
