.trigger_popup {
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 20px;
}
#success_trigger {
  background: #32ba7c;
  position: fixed;
  top: 20%;
  left: 20%;
}
#error_trigger {
  background: #ff3636;
  position: fixed;
  top: 20%;
  left: 60%;
}

#success {
  display: block;
  position: fixed;
  top: 20%;
  left: 10%;
}
#error {
  display: block;
  position: fixed;
  top: 20%;
  left: 55%;
}

.popup-content {
  /* display: block; */
  position: relative;
  z-index: 9999;
  width: 326px;
  height: auto;
  min-height: 350px;
  box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
  border-radius: 25px;

  max-width: 100%;
}
.imgbox {
  text-align: center;
}
.img {
  width: 112px;
  margin-top: 40px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  align-items: center;
  margin: 10% auto;
  height: auto;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;

  top: 50%;
  left: 50%;
}

.para {
  font-weight: 500;
  width: 80%;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  margin: auto;
}
.button {
  width: 50%;
  display: block;
  margin: 20px auto;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: 0.05em;
}
#s_button {
  background: #32ba7c;
}
#e_button {
  background: #ff3636;
}

#success {
  display: block;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#error {
  display: block;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
