@import '~bootstrap/dist/css/bootstrap.css';

.Interfaz {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 97vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Interfaz_Contenedor {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1.5fr 7fr 0.6fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.Contenedor_Navegador{
  grid-row: 1/1;
  grid-column: 1/4;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.Contenedor_Contenido{
  grid-column: 1/4;
  grid-row: 2/3;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.Contenedor_Legacy{
  grid-row: 3/5;
  grid-column: 1/4;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

