@import "~font-awesome/css/font-awesome.css";

body {
  box-sizing: content-box;
}

.interfaz {
  min-width: 100%;
  height: 79.8vh;
  max-height: 74.5vh;
  overflow-x: auto;
  overflow-y: auto;
}


.menu {
  position: fixed;
  height: 62%;
  background: #0b132b;
  width: 6%;
  box-shadow: 1px 0 2px rgba(184, 1, 1, 0.2);
  transition: 1s;
  margin-top: 3%;
  padding-left: 0;
  border-top-right-radius: 10px;
  grid-column: 1/1;
}

.menu:hover {
  width: 15%;
}

.menu:hover ~ .container {
  transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
}

.menu:hover nav {
  left: 2%;
}


nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 12%;
  left: -900px;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  align-items: start;
}

nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 200%;
  letter-spacing: 1%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 120%;
  text-decoration: none;
  color: white;
  font-weight: 600;

  margin: 0;
  padding: 0;
}

nav ul li a:hover {
  color: #eee;
}

p {
  line-height: 130%;
}

h1 {
  color: #bbb;
}



.container {
  display: grid;

  grid-template-rows: 1.5fr 4fr 4fr 0.5fr;
  grid-template-columns: 1fr 5fr 3fr;
  grid-template-areas:
    "buscador buscador producto"
    "tabla tabla producto"
    "tabla tabla producto"
    "ticket ticket producto";
  width: fit-content;
  min-width: 90vw;
  max-height: 74vh;
  margin: 1px 0px 0 7%;
  padding-right: 10px;

  transition: 1s;
  transform-origin: left center;

  overflow-x: auto;
  overflow-y: auto;
}







@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    height: 50%;
    max-height: 45%;

    position: fixed;
    background: #0b132b;
  }

  .container::-webkit-scrollbar,
  .interfaz::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  .container::-webkit-scrollbar-thumb,
  .interfaz::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 4px;
  }

  .container::-webkit-scrollbar-track,
  .interfaz::-webkit-scrollbar-track {
    background-color: #0b132b;
  }
}



@media only screen and (min-width: 801px) and (max-width: 1190px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu:hover {
    width: 14rem;
  }

}




@media only screen and (max-width: 800px) {
  .interfaz {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu {
    width: 4rem;
    height: 50%;
    margin-top: 13%;
  }

  .menu:hover {
    width: 11rem;
  }

  .menu:hover ~ .container {
    transform: perspective(75vw) rotateY(10deg) translateX(20vw) scaleY(1.2);
  }

  .container {
    width: 110vw;
    overflow-x: auto;
    overflow-y: auto;
  }


  .container {
    flex-grow: 1;
    margin-left: 15%;
    width: 84vw;
    min-width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
  }

  .nav {
    margin-top: 2%;
  }

  nav ul li a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

}
